<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>theboys</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
        body { font-family: "JetBrains Mono", serif; }
    </style>
</head>
<nav class="flex justify-between items-center p-4 text-white bg-[#54A5FD]">
    <div class="text-2xl font-bold">theboys</div>
    <ul class="flex md:space-x-6 space-x-3 md:text-[16px] text-[13px]">
        <li><a href="#">Home</a></li>
        <li><a href="/sense">sense</a></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Service</a></li>
    </ul>
</nav>